#nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    justify-items: center;
    padding: 10px;
    background-color: #333;
  }
  
  .a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
  }
  
  #info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 20px;
  }
  
  #img img {
    max-width: 100%;
    height: auto;
  }
  
  #about {
    grid-column: 2 / 3;
  }
  
  #exp {
    padding: 20px;
  }
  
  #pr {
    padding: 20px;
  }
  
  #hob {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #a {
    max-width: 600px;
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 20px;
  }
  #img1 {
    margin-bottom: 20px;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .gallery-item {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
  }
  
  .gallery-item img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  #blogs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #blogs > div {
    margin: 10px;
  }

  @media (max-width: 768px) {
    #nav {
      grid-template-columns: repeat(3, 1fr);
    }
    #info {
      grid-template-columns: 1fr;
    }
    #hob {
      grid-template-columns: 1fr;
    }
  }
  
